# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [20]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey

# Import pprint
from pprint import pprint

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_csv_file = "../WeatherPy/output/city_weather_data.csv"
weather_df = pd.read_csv(weather_csv_file)
weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,port alfred,-33.59,26.89,16.74,48.0,0.0,3.41,ZA,1.601306e+09
1,rikitea,-23.12,-134.97,23.54,81.0,4.0,3.82,PF,1.601306e+09
2,codrington,-38.27,141.97,5.08,93.0,45.0,4.03,AU,1.601306e+09
3,atuona,-9.80,-139.03,25.22,75.0,6.0,7.40,PF,1.601306e+09
4,hobart,-42.88,147.33,9.00,76.0,90.0,1.50,AU,1.601306e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps
gmaps.configure(api_key=gkey)

In [6]:
# Create a humidity heatmap layer
fig = gmaps.figure()

# Store Lat and Lng as locations
locations = weather_df[["Lat", "Lng"]].astype(float)

# Store humidity as weight
humidity = weather_df["Humidity"].astype(float)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=100,
                                point_radius=2.0)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [17]:
# Find cities with ideal temperature

# Store previously created df into a new df
ideal_weather_df = weather_df

# A max temperature lower than 27 degrees celcius but higher than 21.
ideal_weather_df = weather_df.loc[(weather_df["Max Temp"] < 27) & (weather_df["Max Temp"] < 21)]

# Wind speed less than 4.5 m/s.
ideal_weather_df = weather_df.loc[weather_df["Wind Speed"] < 4.5]

# Zero cloudiness.
ideal_weather_df = weather_df.loc[weather_df["Cloudiness"] == 0]

# Drop any null values
ideal_weather_df = ideal_weather_df.dropna()

# Display all cities with ideal weather
ideal_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,port alfred,-33.59,26.89,16.74,48.0,0.0,3.41,ZA,1.601306e+09
9,rodeo,38.03,-122.27,24.44,32.0,0.0,2.07,US,1.601306e+09
36,riyadh,24.69,46.72,37.00,14.0,0.0,5.10,SA,1.601306e+09
59,atar,20.52,-13.05,36.71,18.0,0.0,2.53,MR,1.601306e+09
65,bredasdorp,-34.53,20.04,15.00,62.0,0.0,8.70,ZA,1.601306e+09
...,...,...,...,...,...,...,...,...,...
533,balkanabat,39.51,54.37,19.58,24.0,0.0,4.32,TM,1.601306e+09
544,lipin bor,60.26,37.98,12.04,72.0,0.0,3.67,RU,1.601306e+09
549,tucuman,-26.82,-65.22,24.00,31.0,0.0,3.60,AR,1.601306e+09
556,asyut,27.18,31.18,41.00,20.0,0.0,3.10,EG,1.601306e+09
563,manakara,-22.13,48.02,22.55,80.0,0.0,4.81,MG,1.601306e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [19]:
# Store into variable named `hotel_df`
hotel_df = ideal_weather_df

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Check df
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,port alfred,-33.59,26.89,16.74,48.0,0.0,3.41,ZA,1.601306e+09,
9,rodeo,38.03,-122.27,24.44,32.0,0.0,2.07,US,1.601306e+09,
36,riyadh,24.69,46.72,37.00,14.0,0.0,5.10,SA,1.601306e+09,
59,atar,20.52,-13.05,36.71,18.0,0.0,2.53,MR,1.601306e+09,
65,bredasdorp,-34.53,20.04,15.00,62.0,0.0,8.70,ZA,1.601306e+09,

In [29]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "key": gkey
}

# Use lat/lng to identify hotels
for index, row in hotel_df.iterrows():
    # Retrieve lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    # change location each iteration while leaving original params in place
    params["location"] = f'{lat},{lng}'
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    print(f'Retrieving Results for Index {index}: {row["City"]}')
    
    # make request and print url
    response = requests.get(base_url, params=params).json()
    
    #pprint(response)
    
    # Append generated hotel data into df with try-except
    try:
        print(f'The closest hotel is {response["results"][0]["name"]}')
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
          
    except:
        print("Missing field/result... skipping.")
          
    print("--------------------")

Retrieving Results for Index 0: port alfred
The closest hotel is Port Alfred
--------------------
Retrieving Results for Index 9: rodeo
The closest hotel is Vallejo
--------------------
Retrieving Results for Index 36: riyadh
The closest hotel is Riyadh
--------------------
Retrieving Results for Index 59: atar
The closest hotel is Atar
--------------------
Retrieving Results for Index 65: bredasdorp
The closest hotel is Bredasdorp
--------------------
Retrieving Results for Index 66: casablanca
The closest hotel is Casablanca
--------------------
Retrieving Results for Index 73: turkan
The closest hotel is Turkan
--------------------
Retrieving Results for Index 78: qaanaaq
The closest hotel is Qaanaaq
--------------------
Retrieving Results for Index 82: santiago del estero
The closest hotel is Santiago del Estero
--------------------
Retrieving Results for Index 84: gasa
The closest hotel is Gaza
--------------------
Retrieving Results for Index 87: jumla
The closest hotel is Chandannath
--------------------
Retrieving Results for Index 98: port elizabeth
The closest hotel is Port Elizabeth
--------------------
Retrieving Results for Index 100: altar
The closest hotel is Altar Municipality
--------------------
Retrieving Results for Index 106: nanortalik
The closest hotel is Nanortalik
--------------------
Retrieving Results for Index 115: churhat
The closest hotel is Churhat
--------------------
Retrieving Results for Index 116: provideniya
The closest hotel is Provideniya
--------------------
Retrieving Results for Index 123: carnarvon
The closest hotel is Carnarvon
--------------------
Retrieving Results for Index 130: kruisfontein
The closest hotel is Humansdorp
--------------------
Retrieving Results for Index 133: ghanzi
The closest hotel is Ghanzi Farmhouse
--------------------
Retrieving Results for Index 140: guerrero negro
The closest hotel is Guerrero Negro
--------------------
Retrieving Results for Index 155: jalu
The closest hotel is Jalu
--------------------
Retrieving Results for Index 161: formosa
The closest hotel is Formosa
--------------------
Retrieving Results for Index 166: hermanus
The closest hotel is Hermanus
--------------------
Retrieving Results for Index 168: faanui
The closest hotel is Vaitape
--------------------
Retrieving Results for Index 189: vila velha
The closest hotel is Vila Velha
--------------------
Retrieving Results for Index 191: zharkent
The closest hotel is Zharkent
--------------------
Retrieving Results for Index 203: mercedes
The closest hotel is Mercedes
--------------------
Retrieving Results for Index 219: srivardhan
The closest hotel is Shrivardhan
--------------------
Retrieving Results for Index 242: saldanha
The closest hotel is Saldanha
--------------------
Retrieving Results for Index 255: malmyzh
The closest hotel is Malmyzh
--------------------
Retrieving Results for Index 257: porbandar
The closest hotel is Porbandar
--------------------
Retrieving Results for Index 263: pevek
The closest hotel is Pevek
--------------------
Retrieving Results for Index 271: santa fe
The closest hotel is Santa Fe
--------------------
Retrieving Results for Index 272: lavrentiya
The closest hotel is Lavrentiya
--------------------
Retrieving Results for Index 273: quthing
The closest hotel is Quthing
--------------------
Retrieving Results for Index 274: awbari
The closest hotel is Awbari‎
--------------------
Retrieving Results for Index 275: belaya gora
Missing field/result... skipping.
--------------------
Retrieving Results for Index 284: tessalit
The closest hotel is Achemelmel
--------------------
Retrieving Results for Index 287: kununurra
The closest hotel is Kununurra
--------------------
Retrieving Results for Index 290: gat
The closest hotel is Kiryat Gat
--------------------
Retrieving Results for Index 308: mopipi
The closest hotel is Mopipi
--------------------
Retrieving Results for Index 314: mount isa
The closest hotel is Mount Isa
--------------------
Retrieving Results for Index 329: bandarbeyla
The closest hotel is Bandarbeyla
--------------------
Retrieving Results for Index 332: agadez
Missing field/result... skipping.
--------------------
Retrieving Results for Index 354: buinsk
The closest hotel is Buinsk
--------------------
Retrieving Results for Index 363: padampur
The closest hotel is Padampur
--------------------
Retrieving Results for Index 367: rybnaya sloboda
The closest hotel is Rybnaya Sloboda
--------------------
Retrieving Results for Index 372: chor
The closest hotel is Chor
--------------------
Retrieving Results for Index 376: pafos
The closest hotel is Paphos
--------------------
Retrieving Results for Index 378: novosheshminsk
The closest hotel is Novosheshminsk
--------------------
Retrieving Results for Index 397: sao felix do xingu
The closest hotel is São Félix do Xingu
--------------------
Retrieving Results for Index 406: ngunguru
The closest hotel is Tutukaka
--------------------
Retrieving Results for Index 416: sakakah
The closest hotel is Sakaka
--------------------
Retrieving Results for Index 440: amapa
The closest hotel is Teresinha
--------------------
Retrieving Results for Index 442: kidal
The closest hotel is Kidal
--------------------
Retrieving Results for Index 443: nouadhibou
The closest hotel is Nouadhibou
--------------------
Retrieving Results for Index 445: la quinta
The closest hotel is Indio
--------------------
Retrieving Results for Index 454: soria
The closest hotel is Las Cuevas de Soria
--------------------
Retrieving Results for Index 459: bardiyah
The closest hotel is Bardiyah
--------------------
Retrieving Results for Index 461: piranshahr
The closest hotel is Piranshahr
--------------------
Retrieving Results for Index 465: turayf
The closest hotel is Turaif
--------------------
Retrieving Results for Index 474: uruzgan
The closest hotel is Chora
--------------------
Retrieving Results for Index 475: barra da estiva
The closest hotel is Barra da Estiva
--------------------
Retrieving Results for Index 481: bella union
The closest hotel is Monte Caseros
--------------------
Retrieving Results for Index 501: jacareacanga
The closest hotel is Jacareacanga
--------------------
Retrieving Results for Index 519: sur
The closest hotel is Sur
--------------------
Retrieving Results for Index 523: karari
The closest hotel is Karari
--------------------
Retrieving Results for Index 533: balkanabat
The closest hotel is Balkanabat
--------------------
Retrieving Results for Index 544: lipin bor
The closest hotel is Lipin Bor
--------------------
Retrieving Results for Index 549: tucuman
The closest hotel is San Miguel de Tucumán
--------------------
Retrieving Results for Index 556: asyut
The closest hotel is Asyut
--------------------
Retrieving Results for Index 563: manakara
The closest hotel is Manakara
--------------------

In [32]:
# Check dataframe's new column
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,port alfred,-33.59,26.89,16.74,48.0,0.0,3.41,ZA,1.601306e+09,Port Alfred
9,rodeo,38.03,-122.27,24.44,32.0,0.0,2.07,US,1.601306e+09,Vallejo
36,riyadh,24.69,46.72,37.00,14.0,0.0,5.10,SA,1.601306e+09,Riyadh
59,atar,20.52,-13.05,36.71,18.0,0.0,2.53,MR,1.601306e+09,Atar
65,bredasdorp,-34.53,20.04,15.00,62.0,0.0,8.70,ZA,1.601306e+09,Bredasdorp
...,...,...,...,...,...,...,...,...,...,...
533,balkanabat,39.51,54.37,19.58,24.0,0.0,4.32,TM,1.601306e+09,Balkanabat
544,lipin bor,60.26,37.98,12.04,72.0,0.0,3.67,RU,1.601306e+09,Lipin Bor
549,tucuman,-26.82,-65.22,24.00,31.0,0.0,3.60,AR,1.601306e+09,San Miguel de Tucumán
556,asyut,27.18,31.18,41.00,20.0,0.0,3.10,EG,1.601306e+09,Asyut
563,manakara,-22.13,48.02,22.55,80.0,0.0,4.81,MG,1.601306e+09,Manakara

In [51]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Store Lat and Lng as locations
locations = hotel_df[["Lat", "Lng"]]

# Create hotel symbol layer
hotel_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add marker layer ontop of heat map
#fig = gmaps.figure(layout={'width': '500px', 'height': '400px'})
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='400px', width='500px'))